# Environment variables — NEVER commit these
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/
*.egg-info/
dist/
build/

# Django
staticfiles/

# macOS
.DS_Store

# Node
node_modules/

# IDE
.idea/
.vscode/
